# Keeper environment
RPC_URL=wss://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
RPC_URL_HTTP=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
VAULT_ADDRESS=0x31ec8EeeCb341c7cefAefA6BC0Dd84BE9Bd11085
MONITOR_ADDRESS=0x152935935E86ab06ce75b6871c500f6Eb57f5332
KEEPER_PRIVATE_KEY=
CHAIN_ID=1
